

.navbar-brand {
    color: black;
    font-size: 3rem;
    font-family: 'Caveat', cursive;
}
.navbar-brand:hover{
    color:black;

}
.nav-link{
  margin-right: 10px;
  margin-left: 10px;
  color: black;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.nav-link:hover{
  color:black;
}
.search{
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  font-family: 'Oswald', sans-serif;
  margin-right: -35px;
  border: 2px solid rgb(248,26,92);
}
.btn0{
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background: rgb(248,26,92);
  color: white;
  border-radius: 60px;
  font-weight: 700;
}
/* our pic is not in the css file, but it is in the pre one */
/* so we add ../   */
.main{
  background: url("../image/organic2.jpg"); /*../ to go to prev directory */
  height:100vh; ;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

.main h1 {
  font-size: 4rem;
  width: 80%;
  margin-left: 350px;
  font-family: 'Josefin Sans', sans-serif;
}
.btn1{
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: rgb(248,26,92);
  color: white;
  font-weight: 700;
  border-radius: 60px;
  margin-left: 550px;
}
h1{
  font-weight: 700;
}

.btn2{
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: rgb(248,26,92);
  color: white;
  font-weight: 700;
  border-radius: 60px;
  margin: auto;
}
.btn2:hover{
  background-color: rgb(248,26,92);
  transition: 0.5s;
}
.card{
  margin: auto;
}
.card:hover{
  box-shadow: 23px 35px 132px -20px rgba(0,0,0,0.73);
-webkit-box-shadow: 23px 35px 132px -20px rgba(0,0,0,0.73);
-moz-box-shadow: 23px 35px 132px -20px rgba(0,0,0,0.73);
}
#id{
  margin: auto;
}
.apple{
  background: url("../image/apple.jpg");
  background-size: cover;
  height: 80vh;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
}
